.flashy {
  text-decoration: underline;
  color: red;
  font-style: italic;
}

img {
  height: 550px;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-size: 80px;
}

.index {
  background-color: #efaad0;
  color: #2a2142;
}

.chocolate {
  background-color: #512f1b;
  color: #e8f7b7;
}

.best {
  background-color: #911717;
  color: #f7f5e3;
}

.vanilla {
  background-color: #fffac9;
}

p, ul {
  font-size: 20px;
}

h2 {
  font-size: 35px;
}
